
	h1{font-size: 40px;
		margin-bottom: 50px;
		text-align: center;
		padding: 10px;
		background-color: rgb(125, 139, 0);
		border-radius: 60px;}
	*{
		box-sizing: border-box;
	}
	body{margin: 0px;
		background-color: darkgreen;}
	.container{width: 100%;}
	.col{text-align: left;
	font-family: stylus bt;
	font-size: 120%;
	font-weight: 900;
	width: 90%;
	margin-bottom:4%;
	margin-right: 5%;
	margin-left: 5%;
	border: 5px solid black;
	position: relative;
	height: 60%}
	#col1{background-color: red;}
	#col2{background-color: blue;}
	#col3{background-color: yellow;}

	.title1{background-color: yellow;}
	.title2{background-color: orange;}
	.title3{background-color: maroon;}


	p{border: 2px solid black;
		text-align: center;
		font-size: 200%;
		width: 35%;
		position: relative;
		top:-40px;
		left:65.5%;}
	@media (min-width: 992px) {
		.col{float:left;
		width: 29.3%;
			margin-right: 2%;
		margin-left: 2%;
	}
	}
	@media (min-width: 768px) and (max-width: 991px) {
		#col1, #col2{
			float: left;
			width: 45%;
			margin-right: 2.5%;
			margin-left: 2.5%;
			background-color: ivory;
			}
		#col3{float: left;
			width: 95%;
			margin-right: 2.55%;
			margin-left: 2.55%;}
	
		}


    
    
